# Packages and env
node_modules
.yalc
.env
build
dist
yalc.lock

# Artifacts
!src/**/*.d.ts
*.d.ts
public/*
!public/favicon.ico
!public/manifest.json
!public/robots.txt
!public/templates
!public/images
*.pdf

## Platform and IDE
**/.DS_Store
.DS_Store
.vscode
.nx
.claude/settings.local.json
.claude/worktrees/

# Snyk
.dccache

# Grype
grype.yml

# Local minio dir
start

# Project tmp folder
tmp
